$colorTexto: white; // variable declarada de color del texto

.container-404 {
    padding-top: 20px;
    .container-404__img {
        animation: animacionError404 1 2s .5s;
        @keyframes animacionError404 {
            0% {
                transform: rotate(360deg);
            }
            50% {
                transform: rotate(-28deg);
            }
        }
    }
}

.error404-text {
    border: 2px solid $colorTexto;
    border-radius: 6px;
    width: 40%;
    color: $colorTexto;
}

.btn-error {
    background-color: $colorTexto;
    border: 2px solid black;
    transition: all .5s;
    width: 200px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.473);
        color: $colorTexto;
        border-color: $colorTexto;

    }
}

@media only screen and (min-width: 320px) {
    .container-404__img {
        width: 280px;
    }

    .error404-text {
        width: 90%;
    }
}

@media only screen and (min-width: 480px) {
    .container-404__img {
        width: 450px;
    }

    .error404-text {
        width: 80%;
    }
}

@media only screen and (min-width: 720px) {
    .container-404__img {
        width: 600px;
    }
}

@media only screen and (min-width: 1000px) {
    .container-404__img {
        width: 650px;
    }

    .error404-text {
        width: 60%;
    }
}

@media only screen and (min-width: 1400px) {
    .error404-text {
        width: 50%;
    }
}