/* FOOTER */

footer {
    .redes {
        .redes__link {
            .redes__red-social-logo {
                height: 40px;
                width: 40px;
                margin: auto 10px;
                transition: 0.45s;

                &:hover {
                    height: 53px;
                    width: 53px;
                }
            }
        }
    }

    .copyright {
        .copyright__text {
            color: rgb(116, 106, 106);
            transition: all .8s;

            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }
}