/* MAIN */

$colorTexto: white; // variable declarada de color del texto
@mixin boton($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
}

main {

    .main-container {
        .main-container__link {
            transition: .3s;

            &:hover {
                color: black;
                background-color: $colorTexto;
                font-weight: bold;
            }
        }

        .main-container__text {
            margin-top: 5px;
            font-size: 19px;
        }

        .main-img-container {
            .main-img-container__img {
                padding-top: 35px;

                &:hover {
                    color: grey;
                }
            }
        }
    }
}

/* CONTACTO */

.main-contacto {
    .contacto-container {
        .main-container__link--telefono {
            &:hover {
                color: rgba(26, 26, 231, 0.89);
            }
        }

        .main-container__link--mail {
            &:hover {
                color: red;
            }
        }

        .main-container__link--whatsapp {
            &:hover {
                color: green;
            }
        }

        .main-container__text--contacto {
            border: 2px solid $colorTexto;
            margin: 10px;
            border-radius: 5px;
        }
    }
}

/* LOGIN LOGIN LOGIN LOGIN*/

.main-login {
    .main-container__form {
        background-color: rgba(0, 0, 0, 0.404);
        margin-top: 40px;
        border: 3px solid $colorTexto;
        border-radius: 5px;
    }

    .main-login__link {
        @include boton(black, $colorTexto);
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        transition: all .4s;
        border: 2px solid rgba(0, 0, 0, 0.774);

        &:hover {
            @include boton($colorTexto, rgba(0, 0, 0, 0.103));
            border: 2px solid $colorTexto;
        }
    }
    .main-login__link--ingresar {
        background-color: rgba(219, 218, 130, 0.562)
    }
}

/* CREAR CUENTA */

.main-container__form {
    .main-container__boton {
        @include boton(black, $colorTexto);
        padding: 15px;
        border-width: 2px;
        border-radius: 5px;
        transition: all .5s;

        &:hover {
            background-color: rgb(61, 59, 59);
            color: $colorTexto;
            border: 2px solid $colorTexto;
        }
    }

    .form-control {
        transition: all .3s;

        &:hover {
            background-color: rgba(102, 98, 98, 0.192);
            color: $colorTexto;
        }

        &:active {
            background-color: rgba(102, 98, 98, 0.192);
        }
    }
}

/* PRODUCTOS PRODUCTOS PRODUCTOS PRODUCTOS*/

.main-productos {
    .main-productos__titulo {
        border-top: 2px solid $colorTexto;
        border-bottom: 2px solid $colorTexto;
        color: $colorTexto;
        transition: all .5s;
        user-select: none;
        &:hover {
            transform: skew(-15deg);
            background-color: rgba(29, 29, 102, 0.671);
        }
    }
    
    .main-productos__titulo--nintendo {
        &:hover {
            background-color: rgba(253, 11, 11, 0.637);
        }
    }
    
    .main-productos__titulo--xbox {
        &:hover {
            background-color: rgba(0, 255, 76, 0.521);
        }
    }
    .main-productos__titulo--pcGamer {
        &:hover {
            background-color: rgba(255, 255, 255, 0.911);
            color: black;
            border-color: rgba(139, 76, 76, 0.349);
        }
    }
    .card-item {
        transition: all .5s;
        border: 2px solid $colorTexto;
        border-radius: 3px;
        background-color: $colorTexto;
        .card-item__img {
            width: 100%;
        }
        &:hover {
            border-color: rgba(58, 44, 44, 0.705);
            .card-item__title {
                transition: all .5s;
                color: rgba(43, 34, 34, 0.671);
            }
        }
    }
}

/* BLACK FRIDAY BLACK FRIDAY */

.blackFriday-container {
    .blackFriday-container__img {
        border: 2px solid $colorTexto;
        margin: 7px;
        padding: 0;
    }
}
