 /* MEDIA QUERIES */

 @media only screen and (min-width: 320px) {
     .main-login__link {
         width: 80%;
     }

     .main-login__link--crearCuenta {
         width: 70%;
     }

     .main-container__boton {
         width: 70%;
     }

     .card-items {
         //CARD DE PRODUCTOS
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 20px;

         .card-item {
             width: 90%;
             padding-bottom: 5px;

             .card-item__img {
                 width: 100%;
             }
         }
     }
 }

 @media only screen and (max-width: 414px) {
     .navbar-toggler {
         margin-top: 8px;
     }
 }

 @media only screen and (max-width: 480px) {
     .nav__logo {
         display: none !important;
     }
 }

 @media only screen and (min-width: 480px) {
     .card-item {
         //CARD DE PRODUCTOS
         width: 75%;
     }
 }

 @media only screen and (min-width: 720px) {
     .main-container__boton {
         width: 70%;
     }

     .card-items {
         //CARDS DE PRODUCTOS
         display: flex;
         flex-direction: row;
         justify-content: center;

         .card-item {
             width: 30%;
             min-height: 355px;
         }
     }
 }

 @media only screen and (min-width: 885px) {
    .card-items {
        .card-item {
            width: 29%;
            min-height: 380px;
        }
    }
}

 @media only screen and (min-width: 1100px) {

     /* USÉ LOS MEDIA QUERIES PARA AGRANDAR O ACHICAR LA LETRA DEPENDIENDO DEL ANCHO DE LA PANTALLA, EL RESTO LO HICE CON LAS CLASES DE BOOTSTRAP*/
     .main__text {
         font-size: 1.1rem;
     }

     .main-container__boton {
         width: 55%;
     }

 }

 @media only screen and (min-width: 1235px) {
     .card-items {

         //CARDS DE PRODUCTOS
         .card-item {
             width: 29%;
             min-height: 395px;
         }
     }
 }

 @media only screen and (min-width: 1440px) {
     .main__text {
         font-size: 1.2rem;
     }

     .main-login__link {
         width: 55%;
     }

     .main-login__link--crearCuenta {
         width: 50%;
     }

     .main-container__boton {
         width: 53%;
     }
 }

 @media only screen and (min-width: 1600px) {
    .card-items {
        .card-item {
            width: 29%;
            min-height: 400px;
        }
    }
}

@media only screen and (min-width: 1695px) {
    .card-items {
        .card-item {
            width: 29%;
            min-height: 450px;
        }
    }
}