/* NAV */
$colorTexto: white; // variable declarada de color del texto
$colorHoverNav: grey; // variable declarada para el color del hover en nav-items.

.nav {
    .nav__titulo {
        transition: all 1.2s;
        color: $colorTexto;

        &:hover {
            background: $colorTexto;
            color: rgba(0, 0, 0, 0.815);
        }
    }

    .nav__logo {
        color: $colorTexto;
        transition: all .3s;

        &:hover {
            color: $colorHoverNav;
        }
    }

    .nav-item {
        .nav-item__link {
            transition: .3s;
            font-weight: bold;
            font-size: 18px;
    
            &:hover {
                color: $colorHoverNav !important;
            }
        }
    }

    .dropdown-menu {
        .dropdown-menu__link {
            color: $colorTexto;
            font-weight: bold;
            transition: all .6s;

            &:hover {
                background-color: rgba(0, 0, 0, 0.815);
            }
        }
    }
}