@import "media";
@import "nav";
@import "main";
@import "footer";
@import "error404";



/* CAROUSEL */

.carousel {
    .carousel__inner {
        max-height: 61rem;
    }
}

.blackFriday-container__img {
    border: 2px solid white;
    margin: 7px;
    padding: 0;
}