<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="machine, gaming, pc, nintendo, sony, x-box, e-shop, compra, resumen">
    <meta name="description" content="Resumen de compra realizada en Machine Gaming E-Shop">
    <link rel="icon" type="image/png" href="../img/joystick-img2.jpg" sizes="any">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Resumen de compra - Machine Gaming E-Shop</title>
</head>

<body>
    <!-- NAV NAV NAV NAV NAV -->
    <nav class="nav navbar navbar-expand-lg navbar-light bg-dark p-4 border-bottom border-light border-2" id="menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <i class="fas fa-gamepad fs-2 pe-3 nav__logo"></i>
                <span class="fs-4 fw-bold p-2 border border-2 border-light rounded-pill nav__titulo">Machine
                    Gaming E-Shop</span>
            </a>
            <button class="navbar-toggler bg-light text-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-item__link nav-link active text-light" aria-current="page"
                            href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item__link nav-link text-light" href="./login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item__link nav-link text-light" href="./shop.html">Shop</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-item__link dropdown-toggle text-light" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html#sony">PS5</a></li>
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html#xbox">X-BOX</a></li>
                            <li><a class="dropdown-item dropdown-menu__link"
                                    href="./productos.html#nintendo">Nintendo</a></li>
                            <li><a class="dropdown-item dropdown-menu__link border-bottom border-light border-1"
                                    href="./productos.html#pcGamer">PC Gamer</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html#pcGamer">Stock
                                    <i>!new</i></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item__link text-light" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- HERO  HERO  HERO  HERO -->
    <div class="hero container-fluid bg-dark border-bottom border-light border-2">
        <div class="row d-flex justify-content-center">
            <h2 class="col-12 p-1 text-light text-center">Resumen de compra
            </h2>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="fs-5 col-12 text-light text-center fs-4">A continuación podrás ver los detalles de tu compra realizada
            </p>
        </div>
    </div>
    <!-- MAIN MAIN MAIN MAIN -->
    <main class="main bg-dark main-login container-fluid border-bottom border-2 border-light">
        <div class="main-container container-fluid border-bottom border-2 border-dark">
            <div class="row justify-content-center">
                <div class="col-10 col-md-7 col-lg-3 d-flex flex-column align-items-center border-2 border-light border m-5 p-3 rounded">
                    <i class="fas fa-gift fs-1 text-light"></i>
                    <h2 class="my-2 fs-2 text-center text-light p-3 pb-4 border-bottom">Muchas gracias por tu compra y confiar en nosotros!</h2>
                    <p class=" text-light fs-3 text-center">En breve te estará llegando un correo a tu casilla con tu factura electrónica</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 col-md-7 col-lg-3 d-flex flex-column align-items-center border-2 border-light border m-5 p-3 rounded">
                    <i class="fab fa-cc-amazon-pay fs-1 text-light"></i>
                    <h3 class="my-2 fs-3 text-center text-light p-3 pb-4 border-bottom">Resumen de compra</h3>
                    <p class=" text-light fs-5 text-center">Importe: $120000.00</p>
                    <p class=" text-light fs-5 text-center">Producto: Playstation 5</p>
                    <p class=" text-light fs-5 text-center">Pago: Aprobado</p>
                    <p class=" text-light fs-5 text-center">Tarjeta de crédito: xxxx xxxx xxxx 1923</p>
                    <p class=" text-light fs-5 text-center">Método de envío: FedEx</p>
                    <p class=" text-light fs-5 text-center">Garantía: 90 días</p>
                </div>
            </div>
            <div class="row justify-content-center pb-5 d-flex flex-column align-items-center">
                <p class="col-8 col-md-6 my-2 fs-4 text-center text-light p-3 pb-4 border-bottom">Si deseas seguir comprando haz click en el enlace de abajo</p>
                <div class="col-9 col-md-5 col-lg-4 my-2 fs-2 text-center">
                    <a href="./productos.html"
                            class="btn btn-dark w-75 border-light main-container__link">Seguir comprando</a>
                </div>

        </div>
    </main>
    <!--FOOTER FOOTER FOOTER FOOTER-->
    <footer class="footer bg-dark p-4">
        <div class="row justify-content-center redes text-center">
            <a href="https://www.facebook.com" target="_blank" class="col-3 col-md-2 col-lg-1 redes__link">
                <img src="../img/facebook-logo.png" alt="facebook-logo" class="redes__red-social-logo">
            </a>
            <a href="https://www.youtube.com" target="_blank" class="col-3 col-md-2 col-lg-1 redes__link">
                <img src="../img/youtube-logo.png" alt="youtube-logo" class="redes__red-social-logo">
            </a>
            <a href="https://www.twitter.com" target="_blank" class="col-3 col-md-2 col-lg-1 redes__link">
                <img src="../img/twitter-logo.png" alt="twitter-logo" class="redes__red-social-logo">
            </a>
            <a href="https://www.instagram.com" target="_blank" class="col-3 col-md-2 col-lg-1 redes__link">
                <img src="../img/instagram-logo.png" alt="instagram-logo" class="redes__red-social-logo">
            </a>
        </div>
        <div class="row justify-content-center copyright">
            <p class="col-12 col-md-6 col-lg-3 pt-3 text-center copyright__text">Copyright © | Machine Gaming Inc.
            </p>
        </div>
    </footer>

    <!--         SCRIPT DE BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <!--         SCRIPT DE FONTAWESOME -->
    <script src="https://kit.fontawesome.com/98e5aa6c33.js" crossorigin="anonymous"></script>
</body>

</html>