<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login - Machine Gaming E-Shop</title>
</head>

<body>
    <!-- NAV NAV NAV NAV NAV -->
    <nav class="nav navbar navbar-expand-md navbar-light bg-dark p-4 border-bottom border-light border-2" id="menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <i class="fas fa-gamepad fs-2 pe-3 nav__logo"></i>
                <span class="fs-4 fw-bold p-2 border border-2 border-light rounded-pill nav__titulo">Machine
                    Gaming E-Shop</span>
            </a>
            <button class="navbar-toggler bg-light text-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-item__link nav-link active text-light" aria-current="page"
                            href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item__link nav-link text-light" href="#">Login</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-item__link nav-link text-light" href="#">Shop</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-item__link dropdown-toggle text-light" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html#sony">PS5</a></li>
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html">X-BOX</a></li>
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html#nintendo">Nintendo</a></li>
                            <li><a class="dropdown-item dropdown-menu__link border-bottom border-light border-1"
                                    href="./productos.html">PC Gamer</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html">Stock <i>!new</i></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item__link text-light" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- HERO  HERO  HERO  HERO -->
    <div class="hero container-fluid bg-dark border-bottom border-light border-2">
        <div class="row d-flex justify-content-center">
            <h2 class="col-12 p-1 text-light text-center">Acceda a su cuenta
            </h2>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="fs-5 col-12 text-light text-center fs-4">Por favor ingresa tu nombre de usuario y contraseña para
                poder loguearse
            </p>
        </div>
    </div>
    <main class="main bg-dark main-login container-fluid border-bottom border-2 border-light">
        <!-- MAIN  MAIN  MAIN  MAIN -->
        <div class="row justify-content-center main-container text-center">
            <form class="col-12 col-md-8 col-lg-7 col-xl-5 p-5 main-container__form justify-content-center">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-light fs-5">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Ingrese aquí su nombre de usuario">
                    <div id="emailHelp" class="form-text">No revele sus datos privados a nadie</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-light fs-5">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Ingrese aquí su contraseña">
                </div>
                <div class="mb-3 form-check p-3 d-flex flex-column align-items-center">
                    <a href="#" class="main-login__link">Acceder</a>
                    <a href="#" class="main-login__link m-2">Olvidó su contraseña?</a>
                </div>
                <div class="mb-3 form-check p-3 d-flex flex-column align-items-center">
                    <a href="./crearCuenta.html" class="main-login__link main-login__link--crearCuenta m-2">Crear
                        Cuenta</a>
                </div>

            </form>
        </div>
        <div class="row justify-content-center main-container mt-5">
            <h2 class="col-8 my-2 text-center text-light fs-3 p-3 border-bottom">
                Problemas para iniciar sesion?</h2>
        </div>
        <div class="main-img-container text-center">
        </div>
        <div class="row justify-content-center p-2 contacto-container">
            <div
                class="col-12 col-sm-8 col-md-7 col-lg-5 col-xl-4 text-center text-light main-container__text main-container__text--contacto p-4 d-flex flex-column align-items-center">
                <i
                    class="fas fa-wrench text-light fs-1 main-img-container__img main-img-container__img--contacto mb-4"></i>
                    <p>Tienes problemas para iniciar sesión? De ser ese el caso, podrás ponerte en contacto con soporte haciendo click en el enlace de abajo. Uno de nuestros operadores de soporte te estará esperando.
                    </p>
                <a href="#"
                    class="btn btn-dark mb-3 col-6 col-md-4 col-lg-5 col-xl-4 border-light mt-4 main-container__link main-container__link--telefono">Ayuda</a>
            </div>
        </div>
        </div> -->
    </main>
    <!--FOOTER FOOTER FOOTER FOOTER-->
    <footer class="footer bg-dark p-4">
        <div class="row justify-content-center redes">
            <div class="col-2 col-lg-1 text-center redes__subcontainer">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="../img/facebook-logo.png" alt="facebook-logo" class="redes__red-social-logo">
                </a>
            </div>
            <div class="col-2 col-lg-1 text-center redes__subcontainer">
                <a href="https://www.youtube.com" target="_blank">
                    <img src="../img/youtube-logo.png" alt="youtube-logo" class="redes__red-social-logo">
                </a>
            </div>
            <div class="col-2 col-lg-1 text-center redes__subcontainer">
                <a href="https://www.twitter.com" target="_blank">
                    <img src="../img/twitter-logo.png" alt="twitter-logo" class="redes__red-social-logo">
                </a>
            </div>
            <div class="col-2 col-lg-1 text-center redes__subcontainer">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="../img/instagram-logo.png" alt="instagram-logo" class="redes__red-social-logo">
                </a>
            </div>
        </div>
        <div class="row justify-content-center copyright">
            <p class="col-12 col-md-6 col-lg-3 pt-3 text-center copyright__text">Copyright | Machine Gaming Inc.
            </p>
        </div>

    </footer>

    <!--         SCRIPT DE BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <!--         SCRIPT DE FONTAWESOME -->
    <script src="https://kit.fontawesome.com/98e5aa6c33.js" crossorigin="anonymous"></script>
</body>

</html>