<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="machine, gaming, pc, sony, nintendo, x-box, e-shop">
    <meta name="description"
        content="En esta sección podrás seleccionar y comprar productos gamer de manera online en Machine Gaming">
    <link rel="icon" type="image/png" href="../img/joystick-img2.jpg" sizes="any">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Productos - Machine Gaming E-Shop</title>
</head>

<body>
    <!-- NAV NAV NAV NAV NAV -->
    <nav class="nav navbar navbar-expand-lg navbar-light bg-dark p-4 border-bottom border-light border-2" id="menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <i class="fas fa-gamepad fs-2 pe-3 nav__logo"></i>
                <span class="fs-4 fw-bold p-2 border border-2 border-light rounded-pill nav__titulo">Machine
                    Gaming E-Shop</span>
            </a>
            <button class="navbar-toggler bg-light text-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-item__link nav-link active text-light" aria-current="page"
                            href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item__link nav-link text-light" href="./login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item__link nav-link text-light" href="./shop.html">Shop</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-item__link dropdown-toggle text-light" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html#sony">PS5</a></li>
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html#xbox">X-BOX</a></li>
                            <li><a class="dropdown-item dropdown-menu__link"
                                    href="./productos.html#nintendo">Nintendo</a></li>
                            <li><a class="dropdown-item dropdown-menu__link border-bottom border-light border-1"
                                    href="./productos.html#pcGamer">PC Gamer</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item dropdown-menu__link" href="./productos.html#pcGamer">Stock
                                    <i>!new</i></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item__link text-light" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- HERO  HERO  HERO  HERO -->
    <div class="hero container-fluid bg-dark border-bottom border-light border-2">
        <div class="row d-flex justify-content-center">
            <h2 class="col-12 p-1 text-light text-center">Productos
            </h2>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="fs-5 col-12 text-light text-center fs-4">En esta sección podrás ver y comprar lo más nuevo en
                tecnología gamer
            </p>
        </div>
    </div>
    <!-- MAIN  MAIN  MAIN  MAIN -->
    <main class="main bg-dark border-bottom border-2 border-light pb-2">
        <div class="main-productos container-fluid pb-3">
            <div class="row justify-content-center">
                <h2 class="col-10 col-md-9 my-2 text-center fs-3 p-3 main-productos__titulo main-productos__titulo--sony"
                    id="sony">PLAYSTATION 5
                </h2>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-4 justify-content-center m-1">
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/ps5-negra.jpg" class="card-img-top" alt="ps-black">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">PlayStation 5</h5>
                            <p class="card-text">PlayStation 5 1TB memoria SSD ultrarápida, juegos digitales </p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/ps5-negra.jpg" class="card-img-top" alt="ps-black">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">PlayStation 5</h5>
                            <p class="card-text">PlayStation 5 1TB memoria SSD ultrarápida, juegos digitales</p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/ps5-negra.jpg" class="card-img-top" alt="ps-black">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">PlayStation 5</h5>
                            <p class="card-text">PlayStation 5 1TB memoria SSD ultrarápida, juegos digitales</p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-productos container-fluid border-bottom border-2 border-dark mt-3">
            <div class="row justify-content-center">
                <h2 class="col-10 col-md-9 my-2 text-center fs-3 p-3 main-productos__titulo main-productos__titulo--nintendo"
                    id="nintendo">
                    NINTENDO</h2>
            </div>

            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-4 m-1 d-flex justify-content-center">
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/switch-amarilla.jpg" class="card-img-top" alt="nintendo-switch">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">Nintendo Switch Lite</h5>
                            <p class="card-text">Consola portátil de última generación de Nintendo</p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/switch-amarilla.jpg" class="card-img-top" alt="nintendo-switch">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">Nintendo Switch Lite</h5>
                            <p class="card-text">Consola portátil de última generación de Nintendo</p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/switch-amarilla.jpg" class="card-img-top" alt="nintendo-switch">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">Nintendo Switch Lite</h5>
                            <p class="card-text">Consola portátil de última generación de Nintendo</p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-productos container-fluid pb-3">
            <div class="row justify-content-center">
                <h2 class="col-10 col-md-9 my-2 text-center fs-3 p-3 main-productos__titulo main-productos__titulo--xbox"
                    id="xbox">MICROSOFT
                </h2>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-4 justify-content-center m-1">
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/xbox.jpeg" class="card-img-top" alt="x-box">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">X-Box X Series</h5>
                            <p class="card-text">X-Box X Series 1TB memoria SSD ultrarápida, juegos digitales </p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/xbox.jpeg" class="card-img-top" alt="x-box">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">X-Box X Series</h5>
                            <p class="card-text">X-Box X Series 1TB memoria SSD ultrarápida, juegos digitales</p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/xbox.jpeg" class="card-img-top" alt="x-box">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">X-Box X Series</h5>
                            <p class="card-text">X-Box X Series 1TB memoria SSD ultrarápida, juegos digitales </p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-productos container-fluid pb-3">
            <div class="row justify-content-center">
                <h2 class="col-10 col-md-9 my-2 text-center fs-3 p-3 main-productos__titulo main-productos__titulo--pcGamer"
                    id="pcGamer">PC GAMER
                </h2>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-4 justify-content-center m-1">
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/rtx3080Ti.jpg" class="card-img-top" alt="rtx3080-Ti">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">NVIDIA RTX 3080 Ti</h5>
                            <p class="card-text">Tarjeta de video RTX 3080 Ti, 12 GB GDDR6X </p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/rtx3080.jpg" class="card-img-top" alt="rtx-3080">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">NVIDIA RTX 3080</h5>
                            <p class="card-text">Tarjeta de video RTX 3080 Ti, 10 GB GDDR6X</p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <!--CARD-->
                <div class="col">
                    <div class="card border-2">
                        <img src="../img/productos/rtx3090.jpg" class="card-img-top" alt="rtx-3090">
                        <div class="card-body text-center">
                            <h5 class="card-title fs-4">NVIDIA RTX 3090</h5>
                            <p class="card-text">Tarjeta de video RTX 3080 Ti, 24 GB GDDR6X</p>
                            <a href="./compraRealizada.html" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--FOOTER FOOTER FOOTER FOOTER-->
    <footer class="footer bg-dark p-4">
        <div class="row justify-content-center redes text-center">
            <a href="https://www.facebook.com" target="_blank" class="col-3 col-md-2 col-lg-1 redes__link">
                <img src="../img/facebook-logo.png" alt="facebook-logo" class="redes__red-social-logo">
            </a>
            <a href="https://www.youtube.com" target="_blank" class="col-3 col-md-2 col-lg-1 redes__link">
                <img src="../img/youtube-logo.png" alt="youtube-logo" class="redes__red-social-logo">
            </a>
            <a href="https://www.twitter.com" target="_blank" class="col-3 col-md-2 col-lg-1 redes__link">
                <img src="../img/twitter-logo.png" alt="twitter-logo" class="redes__red-social-logo">
            </a>
            <a href="https://www.instagram.com" target="_blank" class="col-3 col-md-2 col-lg-1 redes__link">
                <img src="../img/instagram-logo.png" alt="instagram-logo" class="redes__red-social-logo">
            </a>
        </div>
        <div class="row justify-content-center copyright">
            <p class="col-12 col-md-6 col-lg-3 pt-3 text-center copyright__text">Copyright © | Machine Gaming Inc.
            </p>
        </div>
    </footer>

    <!--         SCRIPT DE BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
    <!--         SCRIPT DE FONTAWESOME -->
    <script src="https://kit.fontawesome.com/98e5aa6c33.js" crossorigin="anonymous"></script>
</body>

</html>